*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* ===========topbar============== */

.topbar{
    padding: 10px;
    background-color: rgb(73, 72, 72);
    color: white;
    display: flex;
    justify-content: space-between;

}
.topbar .social-icons a{
    color: white;
    margin: 8px;
    font-size: 20px;
}

.currency a{
    color: white;
    text-decoration: none;
}
.language a{
    color: white;
    text-decoration: none;
}
.dropdown{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

/* ===============navbar================ */

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: auto;
    align-items: center;
}

.navbar .links {
    display: flex;
    justify-content: center;
}

.navbar .links a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.navbar .search-cart {
    display: flex;
    align-items: center;
}

.navbar .search-bar a { 
    color: white;
    margin-left: 10px;
    margin-right: 5px; 
}
.navbar .cart a {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

